.eut-item-type-megamenu {
	display: none;
	padding: 12px 8px;
	color: #666;
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;	
}
.eut-megamenu-active .eut-item-type-megamenu {
	display: inline-block;
}