.eut-admin-panel {
	position: relative;
	overflow: auto;
	margin: 16px 0;
	padding: 5% 8%;
	text-align: center;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	font-size: 13px;
	line-height: 2.1em;
}

.eut-admin-panel * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.eut-admin-panel h2 {
	margin: 0 auto 18px auto;
	font-size: 48px;
	font-weight: 400;
	line-height: 1.2;
	max-width: 600px;
}

.eut-admin-panel h3 {
	margin: 0 0 18px 0;
	font-size: 16px;
	line-height: 1.4;
}

.eut-admin-panel-content {
	margin: 0 auto;
	max-width: 1170px;
}

.eut-admin-panel .about-description {
	font-size: 16px;
	max-width: 650px;
	margin: 0 auto 30px auto;
}
.eut-admin-panel p {
	margin: 0;
	color: #72777c;
}

.eut-admin-panel-more {
	color: #7072F7;
	font-size: 14px;
	line-height: 1;
	margin-top: 18px;
	display: block;
	text-decoration: none;
}

.eut-admin-panel-more:hover {
	color: #000000;
}

.eut-admin-panel-btn {
	color: #ffffff;
	background-color: #7072F7;
	padding: 16px 30px;
	line-height: 1;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition : all .3s ease;
	-moz-transition    : all .3s ease;
	-o-transition      : all .3s ease;
	-ms-transition     : all .3s ease;
	transition         : all .3s ease;
	-webkit-box-shadow: 0 15px 35px -10px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 15px 35px -10px rgba(0,0,0,.3);
	        box-shadow: 0 15px 35px -10px rgba(0,0,0,.3);
}

.eut-admin-panel-btn:hover {
	color: #ffffff;
	background-color: #5557ee;
	-webkit-transform: translateY(-3px) scale(1.02);
	-moz-transform:    translateY(-3px) scale(1.02);
	-ms-transform:     translateY(-3px) scale(1.02);
	-o-transform:      translateY(-3px) scale(1.02);
	transform:         translateY(-3px) scale(1.02);
}


.eut-admin-panel-icon {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: auto;
}
.eut-admin-panel-container {
	max-width: 1170px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.eut-admin-panel-container:before,
.eut-admin-panel-container:after,
.eut-admin-panel-row:before,
.eut-admin-panel-row:after {
	display: table;
	content: " ";
}

.eut-admin-panel-container:after,
.eut-admin-panel-row:after {
	clear: both;
}

.eut-admin-panel-row {
	margin: 0 -5% 0 -5%;
}

.eut-admin-panel-column {
	float: left;
	text-align: center;
	padding: 5%;
}

.eut-admin-panel-left {
	text-align: left;
}

.eut-admin-panel-column-content iframe {
	margin-bottom: 18px;
}

.eut-admin-panel-column p {
	color: #444;
}

.eut-admin-panel-column-1 {
	width: 100%;
}
.eut-admin-panel-column-1-2 {
	width: 50%;
}
.eut-admin-panel-column-1-3 {
	width: 33.33333333%;
}
.eut-admin-panel-column-1-4 {
	width: 25%;
}

@media only screen and (max-width: 767px) {
	.eut-admin-panel-column-1,
	.eut-admin-panel-column-1-2,
	.eut-admin-panel-column-1-3,
	.eut-admin-panel-column-1-4 {
		width: 100%;
	}
}