/*	Blockquote  */
.editor-styles-wrapper .editor-block-list__layout .wp-block-freeform blockquote {
  margin: 1em;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.editor-styles-wrapper .editor-block-list__layout .wp-block-freeform blockquote {
  margin-bottom: 30px;
  position: relative;
  opacity: 0.8;
}
.editor-styles-wrapper .editor-block-list__layout .wp-block-freeform blockquote p {
  margin-bottom: 0;
}
.editor-styles-wrapper .editor-block-list__layout .wp-block-freeform blockquote:before {
  content: '"';
  position: absolute;
  top: 0.2em;
  left: -0.4em;
  font-size: 2.5em;
}
.editor-styles-wrapper .editor-block-list__layout .wp-block-freeform blockquote:last-child {
  margin-bottom: 0;
}
.editor-styles-wrapper .editor-block-list__layout .wp-block-freeform p + blockquote {
  margin-top: 30px;
}
.editor-styles-wrapper .editor-block-list__layout .wp-block-freeform hr + blockquote {
  margin-top: 30px;
}

.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) {
  border: none;
  padding-left: 0;
}
.editor-styles-wrapper .wp-block-quote.is-large:before,
.editor-styles-wrapper .wp-block-quote.is-style-large:before {
  content: '';
}
.editor-styles-wrapper .wp-block-quote cite,
.editor-styles-wrapper .wp-block-quote footer,
.editor-styles-wrapper .wp-block-quote__citation {
  opacity: 0.8;
  color: inherit;
  font-size: 13px;
  font-style: italic;
}
.editor-styles-wrapper .wp-block-quote.is-large cite,
.editor-styles-wrapper .wp-block-quote.is-large footer,
.editor-styles-wrapper .wp-block-quote.is-style-large cite,
.editor-styles-wrapper .wp-block-quote.is-style-large footer,
.editor-styles-wrapper .wp-block-quote.is-large .wp-block-quote__citation,
.editor-styles-wrapper .wp-block-quote.is-style-large .wp-block-quote__citation {
  font-size: 18px;
}

.editor-styles-wrapper .wp-block-pullquote {
  border: none;
  color: #000;
}
.editor-styles-wrapper .wp-block-pullquote blockquote {
  margin-top: calc(3 * 1rem);
  margin-bottom: calc(3.33 * 1rem);
  hyphens: auto;
  word-break: break-word;
}
.editor-styles-wrapper .wp-block-pullquote blockquote {
  opacity: 1;
}
.editor-styles-wrapper .wp-block-pullquote blockquote:before {
  content: '' !important;
}
.editor-styles-wrapper .wp-block-pullquote p,
.editor-styles-wrapper .wp-block-pullquote blockquote > .editor-rich-text p {
  font-size: 28px;
  line-height: 1.6;
}
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote > .editor-rich-text p {
  font-size: 32px;
}
.editor-styles-wrapper .wp-block-pullquote.alignleft p,
.editor-styles-wrapper .wp-block-pullquote.alignleft blockquote > .editor-rich-text p,
.editor-styles-wrapper .editor-block-list__block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote.is-style-solid-color blockquote > .editor-rich-text p,
.editor-styles-wrapper .wp-block-pullquote.alignright p,
.editor-styles-wrapper .wp-block-pullquote.alignright blockquote > .editor-rich-text p,
.editor-styles-wrapper .editor-block-list__block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote.is-style-solid-color blockquote > .editor-rich-text p {
  font-size: 20px;
}
.editor-styles-wrapper .wp-block-pullquote cite,
.editor-styles-wrapper .wp-block-pullquote footer,
.editor-styles-wrapper .wp-block-pullquote__citation {
  font-size: 13px;
  font-style: italic;
}

.wp-block-freeform.block-library-rich-text__tinymce code {
  background: none;
  font-size: inherit;
}
.wp-block-freeform.block-library-rich-text__tinymce code,
.wp-block-freeform.block-library-rich-text__tinymce pre {
  font-family: 'Inconsolata', monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/*	Table  */
.mce-content-body table {
  width: 100%;
}

/*	Blocks  */
.editor-styles-wrapper .wp-block[data-align="wide"] {
  max-width: 100%;
}
.editor-styles-wrapper .wp-block[data-align="full"] {
  max-width: none;
}
.editor-styles-wrapper .wp-block-table__cell-content {
  padding: 0;
}
.editor-styles-wrapper .wp-block-table td,
.editor-styles-wrapper .wp-block-table th {
  word-break: initial;
}
.editor-styles-wrapper .wp-block-gallery {
  margin: 0;
}
.editor-styles-wrapper .wp-block-shortcode {
  background-color: #f8f9f9;
  color: #000000;
}
.editor-styles-wrapper ul.wp-block-archives,
.editor-styles-wrapper .wp-block-categories,
.editor-styles-wrapper .wp-block-latest-posts,
.editor-styles-wrapper .wp-block-latest-comments {
  padding: 0;
  margin: 0;
  list-style: none;
}
.editor-styles-wrapper ul.wp-block-archives ul,
.editor-styles-wrapper .wp-block-categories ul,
.editor-styles-wrapper .wp-block-latest-posts ul {
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}
.editor-styles-wrapper .wp-block-archives li,
.editor-styles-wrapper .wp-block-categories li,
.editor-styles-wrapper .wp-block-latest-posts li {
  margin-bottom: 6px;
  text-align: left;
  overflow: hidden;
}
.editor-styles-wrapper .wp-block-archives, .editor-styles-wrapper li a,
.editor-styles-wrapper .wp-block-categories li a,
.editor-styles-wrapper .wp-block-latest-posts li a {
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .wp-block-archives, .editor-styles-wrapper li ul,
.editor-styles-wrapper .wp-block-categories li ul,
.editor-styles-wrapper .wp-block-latest-posts li ul {
  padding-left: 10px;
}
.editor-styles-wrapper .wp-block-archives li:last-child,
.editor-styles-wrapper .wp-block-categories li:last-child,
.editor-styles-wrapper .wp-block-latest-posts li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
